.section
{
    width: 600px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.caption
{
    width: 100px;
    float: left;
}

.divider
{
    background: #ccc;
    font-weight: bold;
}

#progressbar-container
{
    display: none;
    position: relative;
    width: 420px;
}

#progressbar-text
{
    position: absolute;
    top: 10px;
    width: 420px;
    text-align: center;
}

.group
{
    float: left;
    width: 50%;
}

.clearfix:after
{ 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#searchContainer
{
    width: 600px;
    text-align: center;
    margin: 5px;
}

.alert
{
    border: 1px solid red;
}

#message
{
    margin: 10px 0;
    font-weight: bold;
}
